{
 :en
 {:bible
  {:brenton
   {:books ["Amos"
            "Baruch"
            "Dan"
            "Deut"
            "Eccles"
            "Esther"
            "Ex"
            "Ezek"
            "Gen"
            "Habak"
            "Hagg"
            "Hos"
            "III_Kings"
            "III_Macc"
            "II_Esdra"
            "II_Kings"
            "II_Macc"
            "II_Paral"
            "IV_Kings"
            "IV_Macc"
            "I_Esdra"
            "I_Kings"
            "I_Macc"
            "I_Paral"
            "Isa"
            "Jerem"
            "Job"
            "Joel"
            "Jona"
            "Josh"
            "Judg"
            "Judith"
            "Lamen"
            "Lev"
            "Mal"
            "Mica"
            "Nahum"
            "Nehem"
            "Num"
            "Obad"
            "Prov"
            "Psalm"
            "Ruth"
            "Sirach"
            "Song"
            "Tobit"
            "Wisd"
            "Zech"
            "Zeph"]}}}}
